
.fg-edit-canvas .fg-field-properties .control-group {
  margin-bottom: 10px;
}

.fg-edit-canvas .fg-field.fg-edit-canvas-field {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*.fg-edit-canvas .control-label {*/
/*width: 130px;*/
/*}*/

/*.fg-edit-canvas .controls {*/
/*margin-left: 150px;*/
/*}*/

.fg-edit-canvas-area {
  min-height: 340px;
  /*position: relative;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 20px;
}

.fg-edit-canvas-area-empty {
  /*position: absolute;*/
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 20px;
  margin: 0;
  /*padding: 0;*/
}

.fg-edit-canvas-area-empty-x {
  font-size: 200px;
  line-height: 200px;
}


.fg-drag-placeholder {
  margin-bottom: 0;
  opacity: 0.0;
  filter: aplha(opacity(0));
  transition: height 0ms linear, opacity 0ms;
  height: 0px;
  display: none;
}

/*.fg-edit-canvas-dragging {*/
  /*background-color: teal;*/
/*}*/

.fg-edit-canvas-dragging .fg-drag-placeholder {
  display: block;
  transition: height 100ms linear, opacity 500ms, margin-bottom 100ms;
}

.fg-drag-placeholder-visible {

  margin-bottom: 20px;
  border-radius: 4px;
  border: dashed 1px #3a87ad;
  background-color: #d9edf7;
  height: 74px;
  opacity: 1.0;
  filter: aplha(opacity(100));
}

.fg-field-overlay-drag-top, .fg-field-overlay-drag-bottom {
  height: 50%;
}

.fg-field-properties .fg-field-not-in-cache {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.fg-edit-canvas .fg-field.dragging {
  display: none;
}

/* Landscape phones and down */
/*@media (max-width: 480px) {*/

/**/
/*.fg-edit-canvas .controls {*/
/*margin-left: 0px;*/
/*}*/
/*}*/

@media (max-width: 768px) {
  .fg-edit-canvas-area {
    /*padding-bottom: 0;*/
    min-height: inherit;
    padding: 0px;
    border: none;

  }

  .fg-edit-canvas-area-empty {
    position: static;
    margin-bottom: 20px;
  }
}