.form .fg-edit {
  margin-left: -15px;
  margin-right: -15px;
}

.fg-edit-canvas .fg-field, .fg-edit-palette .fg-field {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.fg-edit-canvas .fg-field, .fg-edit-palette .fg-field:hover {
  background-color: #f5f5f5;
}

.fg-edit-canvas-field .form-group, .fg-edit-palette .form-group {
  margin-top: 5px;
  margin-bottom: 0px;
}

.fg-field {
  min-height: 25px;
}

.fg-edit-canvas .fg-field.error {
  background-color: #f2dede;
  border-color: #b94a48;
}

.fg-field-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:10;
  /*-moz-opacity: 0.0;*/
  /*opacity:.0;*/

  /* Needed by IE */
  filter: alpha(opacity=0);
  background: #FFF;
  background-color: rgba(255, 255, 255, 0.0);
  cursor: move;
}

.fg-field-overlay .btn-toolbar {
  position: absolute;
  margin: 0;
  /*    display: none;*/
  top: -10px;
}

/*.fg-field:hover .btn-toolbar {
    display: block;
}
*/
.fg-field-overlay .btn-toolbar-right {
  right: 5px;
}

.fg-field-overlay .btn-toolbar-left {
  left: 5px;
}

.fg-field-overlay .btn-toolbar .btn[disabled] {
  -moz-opacity: 1.0;
  opacity: 1.0;
  filter: alpha(opacity=100);
  color: #ccc;
  cursor: not-allowed;
  pointer-events: auto;
}
