.demo-this {
  color: yellow;
}



.gedoe-ng-logo {
  height: 180px;
  animation: gedoe-slide-in 1s;
}

@keyframes gedoe-slide-in {
  0% {
    opacity: 0;
    transform: translateX(50%) scale(3,3);
  }
}

.gedoe-ng-logo-text {
  animation-duration: 1s;
  animation-name: slide-in-text;
}

@keyframes gedoe-slide-in-text {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes bleeh-slide-in-text {
  0% {
    background-color: yellow;
    opacity: 0;
    transform: translateY(-150%);
  }
  100% {
    background-color: purple;
    opacity: 1;
    transform: translateY(0%);
  }
}

.gedoe {
  background-color: purple;
  color: yellow;
  animation: gedoe-slide-in 1s;
}

.bleeh {
  font-weight: bold;

  background-color: purple;
  color: yellow;
  animation: gedoe-slide-in 14s;
}