.app-form-edit {
  position: relative;
}

.app-form-edit-btn-bar {
  margin-bottom: 10px;
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
}

@media screen and (min-width: 768px){
  .app-form-edit-btn-bar {
    position: absolute;
    top: 70px;
    right: 15px;
  }

  .app-form-edit-tabs > .fg-tabs > .tab-content {
    min-height: 600px;
  }
}