<div class="container"
     seo-page-title="Data Entry {{ form.name }} - angular-form-gen"
     seo-page-description="Create a new or edit an existing data entry for the form {{ form.name }}"
     seo-page-keywords-add="data, data-entry">

  <div form-breadcrumb></div>

  <h1>Data Entry</h1>

  <div class="row">
    <form class="{{ form.layout || 'form-horizontal'}}" name="form.$state">

      <fieldset class="col-sm-8">
        <legend>{{ form.name }}</legend>
        <p ng-if="form.description">{{ form.description }}</p>

        <div fg-form
             fg-schema="form.schema"
             fg-form-data="form.$data">
        </div>

        <div class="row">
          <div class="col-sm-9" ng-class="{ 'col-sm-offset-3': form.layout != 'form' }">
            <button type="submit" class="btn btn-primary" ng-click="onSave()"
                    ng-class="{ 'disabled': form.$state.$pristine || form.$state.$invalid }">Save
            </button>
            <button type="button" class="btn btn-default" ng-click="onClose()">Close</button>
          </div>
        </div>
      </fieldset>


    </form>

  </div>
</div>

