.fg-field-inner .controls > div > .radio:first-child,
.fg-field-inner .controls > div > .checkbox:first-child {
  padding-top: 5px;
}

.fg-form .radio, .fg-form .checkbox {
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-horizontal .fg-form .radio, .form-horizontal .fg-form .checkbox {
  margin-bottom: 0px;
}
