<!-- 
  input fields marked as fg-field-redraw will cause the initial value input to redraw
-->

<!-- minlength -->
<div ng-if="fields.minlength" class="fg-property-field-validation">
  <div fg-property-field="minlength"
       fg-property-field-label="Minimum length">
    <input type="text"
           fg-field-redraw
           fg-input-number
           title="The minimum length of characters that should be entered."
       		 name="minlength"
       		 ng-model="field.validation.minlength"
           class="form-control"/>
  </div>

  <div ng-if="field.validation.minlength >= 1" >
    <div fg-edit-validation-message="minlength"></div>
  </div>
</div>

<!-- maxlength -->
<div ng-if="fields.maxlength" class="fg-property-field-validation">
  <div fg-property-field="maxlength"
       fg-property-field-label="Maximum length">
    <input type="text"
           fg-field-redraw
           fg-input-number
           title="The maximum length of characters that should be entered."
           name="maxlength"
           ng-model="field.validation.maxlength"
           class="form-control"/>
  </div>

  <div ng-if="field.validation.maxlength >= 1" >
    <div fg-edit-validation-message="maxlength"></div>
  </div>
</div>

<!-- pattern -->
<div ng-if="fields.pattern" class="fg-property-field-validation">
  <div fg-property-field="pattern"
       fg-property-field-label="Pattern">
    <div fg-dropdown-input="patternOptions"
         name="pattern"
         title="The pattern that should match with the input value."
         fg-parse-pattern
         fg-field-redraw
         ng-model="field.validation.pattern"></div>
  </div>

  <div ng-if="field.validation.pattern.length > 0" >
    <div fg-edit-validation-message="pattern"></div>
  </div>
</div>

<!-- required -->
<div ng-if="fields.required" class="fg-property-field-validation">
  <div fg-property-field="required">
    <div class="checkbox">
      <label title="Indicates if a value is required for this field.">
        <input type="checkbox" ng-model="field.validation.required" />Required
      </label>
    </div>
  </div>
  
  <div ng-if="field.validation.required">
    <div fg-edit-validation-message="required"></div>
  </div>
</div>
